body, div, h1, h2, h3, h4, h5, p, ul, ol, li, img, form {
  margin: 0px; padding: 0; border: 0px;
}

.title {
  font-size: 3em;
  margin-top: 30px;
  margin-bottom: 30px;
}

body {
  background-color: black;
  color: #38FF33;
}

body, p, ol, ul, td {
  font-family: 'Oxygen Mono', monospace;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
  text-align: center;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  text-align: center;
}

a {
  color: #38FF33;
}

a:visited {
  color: #F4FF33;
}

a:hover {
  color: #fff;
  background-color: #000;
}

.linkcolors {
  text-decoration: none;
  color: #F4FF33;
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

.PictureLinks {
  color: #38FF33;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

.gallery{
  width: 100%;
}
